---
layout: default
title: Hauptseite
---

<div id="home">
  <h3>Blogposts</h3>
<ul class="posts">
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
    <li><span style="font-size: 1.3em;">{{ post.date | date_to_string }}</span> &raquo; <a style="font-size: 1.3em;" href="{{ post.url }}"><b>{{ post.title }}</b></a>
      {{ post.excerpt }}
      <a style="font-size: 0.7em;" href="{{ post.url }}">weiterlesen...</a>
    </li>
  {% endfor %}
</ul>
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
