---
layout: default
title: Partner und Links
permalink: /links/
friends: Freunde
communities: Communitys
---
<div id="about">
  <h3>Partner und Links</h3>
    <h4>Freunde</h4>
      <ul>
{% for item in site.data.links[page.friends] -%}
          <li><a href="{{ item.link }}">{{ item.name }}</a>
{% endfor -%}
      </ul>
    <h4>Communitys & Webseiten</h4>
      <ul>
{% for item in site.data.links[page.communities] -%}
          <li><a href="{{ item.link }}">{{ item.name }}</a>
{% endfor -%}
      </ul>
</div>
